#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    border: white;
  }
  
  h1 {
    color:mediumvioletred;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .gameBoard { 
    padding-top: 60px;
    padding-left: 55px;
    padding-bottom: 60px;
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    margin: 60px auto; 
    position: absolute;
    
    } 
    
    .gameBoard img { 
    display: Flex;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 200px;
    width: 221.69px;
    transform-style: preserve-3d; 
    transition: transform 0.2s;
    }
  
    .audio
    {
    display:none
    }
    
    .popup { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;  
    }
    
    .data { 
    position: absolute;
    justify-content: space-between; 
    padding: 20px 30px; 
    font-size: 23px; 
    } 
    
    .data span { 
    position: absolute;
    color: rgb(144, 11, 206);
    font-size: 30px; 
    }
    
  

   