  #bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;  
  }
  
  h1 {
    font-size: 50px;
    color:mediumvioletred;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .gameBoard { 
    padding-top: 60px;
    padding-left: 200px;
    padding-bottom: 60px;
    padding-right: 200px;
    display: flex; 
    flex-wrap: wrap; 
    margin: 60px auto; 
    position: absolute;
    } 

  .gameBoard img { 
    display: Flex;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 200px;
    width: 221.69px;
    transform-style: preserve-3d; 
    transition: transform 0.2s;
  }

  .audio {
    display:none
  }

  .playAgain { 
    position: absolute;
    bottom: 0px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color:mediumvioletred;
    font-size: 30px;  
    }

  .data{ 
    position: absolute;
    justify-content: space-between; 
    padding: 20px 30px; 
    font-size: 40px; 
    } 

  .data span { 
    position: absolute;
    color:mediumvioletred;
    font-size: 50px; 
    }

    .carsGame {
      position: absolute;
      top: 20px;
      padding-left: 1700px;
      height: 100px;
      width:150px;
     }
  
    
  

   